<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#
// <copyright file="Board.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>


#>
